<div>
    <h2 translate="3rudApp.product.home.title">Products</h2>
    <jh-alert></jh-alert>
    <div class="row">
        <div class="col-md-3">
            <button class="btn btn-primary" ui-sref="product.new">
                <span class="glyphicon glyphicon-flash"></span> <span translate="3rudApp.product.home.createLabel">Create a new Product</span>
            </button>
        </div>
        <div class="col-md-9">
            <div class="pull-right">
                <form name="searchForm" class="form-inline" ng-submit="search()" novalidate show-validation>
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="search for..." required>
                    </div>
                    <button ng-disabled="searchForm.$invalid" class="btn btn-info" type="submit"><span class="glyphicon glyphicon-search"></span> <span translate="entity.action.search">Search a Product</span>
                    </button>
                </form>
                <button ng-disabled="!areAllProductsSelected" class="btn btn-default" ng-click="sync()">
                    <i class="glyphicon glyphicon-refresh" aria-label="sync"></i>
                    <span translate="entity.action.sync">sync</span>
                </button>
                <button ng-disabled="!areAllProductsSelected" class="btn btn-default" ng-click="export()">
                    <i class="glyphicon glyphicon-export" aria-label="export"></i>
                    <span translate="entity.action.export">export</span>
                </button>

                <button ng-disabled="!areAllProductsSelected" class="btn btn-default" ng-click="import()">
                    <i class="glyphicon glyphicon-import" aria-label="import"></i>
                    <span translate="entity.action.import">import</span>
                </button>

                <button ng-disabled="!areAllProductsSelected" class="btn btn-default btn-danger" ng-click="deleteSelected()">
                    <i class="glyphicon glyphicon-trash" aria-label="delete"></i>
                    <span translate="entity.action.delete">delete</span>
                </button>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-striped">
	        <caption class="caption notice text-center">
	            <span translate="entity.action.found"
	                 translate-values="{found: '{{products.length}}', total: '{{total}}'}">{{cats.length}} products retrieved from total of {{total}} products
	            </span>
	        </caption>

            <thead>
                <tr>
	                <th><input type="checkbox" ng-model="areAllProductsSelected" ng-change="updateProductsSelection(products, areAllProductsSelected)"></th>
                    <th ng-click="order('id', reverse=!reverse)" translate="global.field.id">ID</th>
                    <th ng-click="order('name', reverse=!reverse)" translate="3rudApp.product.name">Name</th>
                    <th ng-click="order('url', reverse=!reverse)" translate="3rudApp.product.url">Url</th>
                    <th ng-click="order('description', reverse=!reverse)" translate="3rudApp.product.description">Description</th>
                    <th ng-click="order('status', reverse=!reverse)" translate="3rudApp.product.status">Status</th>
                    <th ng-click="order('inStock', reverse=!reverse)" translate="3rudApp.product.inStock">InStock</th>
                    <th ng-click="order('price', reverse=!reverse)" translate="3rudApp.product.price">Price</th>
                    <th ng-click="order('keywords', reverse=!reverse)" translate="3rudApp.product.keywords">Keywords</th>
                    <th ng-click="order('features', reverse=!reverse)" translate="3rudApp.product.features">Features</th>
                    <th ng-click="order('popularity', reverse=!reverse)" translate="3rudApp.product.popularity">Popularity</th>
                    <th ng-click="order('location', reverse=!reverse)" translate="3rudApp.product.location">Location</th>
                    <th ng-click="order('manufactureDate', reverse=!reverse)" translate="3rudApp.product.manufactureDate">ManufactureDate</th>
                    <th ng-click="order('image', reverse=!reverse)" translate="3rudApp.product.image">Image</th>
                    <th ng-click="order('weight', reverse=!reverse)" translate="3rudApp.product.weight">Weight</th>
                    <th ng-click="order('sku', reverse=!reverse)" translate="3rudApp.product.sku">Sku</th>
                    <th ng-click="order('includes', reverse=!reverse)" translate="3rudApp.product.includes">Includes</th>
                    <th ng-click="order('incubationDate', reverse=!reverse)" translate="3rudApp.product.incubationDate">IncubationDate</th>
                    <th translate="3rudApp.product.user">user</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products  | filter:filter | orderBy:predicate:reverse track by product.id">
				    <td><input type="checkbox" ng-model="product.isSelected"/></td>
                    <td><a ui-sref="product.detail({id:product.id})">{{product.id}}</a></td>
                    <td>{{product.name}}</td>
                    <td>{{product.url}}</td>
                    <td>{{product.description}}</td>
                    <td translate="{{'3rudApp.Status.' + product.status}}">{{product.status}}</td>
                    <td>{{product.inStock}}</td>
                    <td>{{product.price}}</td>
                    <td>{{product.keywords}}</td>
                    <td>{{product.features}}</td>
                    <td>{{product.popularity}}</td>
                    <td>{{product.location}}</td>
                    <td>{{product.manufactureDate | date:'medium'}}</td>
                    <td>
                        <img data-ng-src="{{'data:' + product.imageContentType + ';base64,' + product.image}}" style="max-height: 30px;" ng-if="product.image"/> {{product.imageContentType}} {{byteSize(product.image)}}
                    </td>
                    <td>{{product.weight}}</td>
                    <td>{{product.sku}}</td>
                    <td>{{product.includes}}</td>
                    <td>{{product.incubationDate | date:'medium'}}</td>
                    <td>
                        {{product.user.login}}
                    </td>
                    <td class="btn-group">
                        <button type="submit"
                                ui-sref="product.detail({id:product.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span translate="entity.action.view"> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="product.edit({id:product.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span translate="entity.action.edit"> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="product.delete({id:product.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span translate="entity.action.delete"> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <nav>
            <ul class="pagination">
                <li ng-show="links['first'] >= 0" ng-click="loadPage(links['first'])"><a>&lt;&lt;</a></li>
                <li ng-show="page > 0" ng-click="loadPage(links['prev'] || 0)"><a>&lt;</a></li>
                <li ng-show="page > 1" ng-click="loadPage(page - 2)"><a>{{page - 1}}</a></li>
                <li ng-show="page > 0" ng-click="loadPage(page - 1)"><a>{{page}}</a></li>
                <li class="active"><a>{{page + 1}}</a></li>
                <li ng-show="page < links['last']" ng-click="loadPage(page + 1)"><a>{{page + 2}}</a></li>
                <li ng-show="page < links['last'] - 1" ng-click="loadPage(page + 2)"><a>{{page + 3}}</a></li>
                <li ng-show="links['next']" ng-click="loadPage(links['next'])"><a>&gt;</a></li>
                <li ng-show="links['last'] > 0" ng-click="loadPage(links['last'])"><a>&gt;&gt;</a></li>
            </ul>
        </nav>
    </div>
</div>
